.rocket{
  width:100px;
  position: absolute;
  bottom: 50px;
  z-index: 1;
  
}
.fly{
  transform: translateY(-70vh);
  scale: 1.5;
  transition: all 5s ease-in;
  opacity: 0;
}
.land{
  transform: translateY(0);
  transition: 5s ease-out;
 
}