.space{
  height: 100vh;
  display: grid;
  grid-template-columns: repeat(3,1fr);
  justify-items: center;
  align-items: end;
}
.env{
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
button{
  height: 100px;
  width: 100px;
  border-radius: 50%;
  border: none;
  margin-bottom: 20vh;
  background-color: red;
  color:white;
}
button:nth-child(3){
  background-color: aqua;
}